/**================= BASE STYLE ===============*/
/** *(звездочка) - для выбора всех элементов сайта*/
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1;
}
/** container - для позицирования контента сайта 
**по середине 
**в определых рамках
*/
.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}
/** a - тег, задаем стили для всех ссылок*/
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 5px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/**================= TOP HEADER ==================*/
.top-header {
  background: #f7f7f7;
  display: inline-block;
  width: 100%;
  color: #4c4b6c;
  font-size: 16px;
}
.left-side,
.right-side {
  list-style: none;
  display: flex;
}
.left-side li:last-child,
.right-side li:last-child {
  border-right: 0;
}
.left-side {
  float: left;
}
.right-side {
  float: right;
}
.top-header ul li {
  padding: 5px 20px;
  margin: 10px 0;
  border-right: 1px solid #aaaaaa;
}
.top-header .left-side li:first-child {
  padding-left: 0;
}
.top-header .right-side li:last-child {
  padding-right: 0;
}
.top-header ul li i {
  margin-right: 10px;
}
.top-header a {
  color: #4c4b6c;
}
/**========== MIDDLE HEADER ==========*/
.middle-header {
  padding: 20px 0;
}
.main-logo {
  width: 200px;
  display: inline-block;
}
.middle-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
.middle-wrap a {
  display: block;
}
.services-info {
  display: flex;
  margin-top: 20px;
}
.services-info > div {
  padding: 0 35px;
  border-right: 1px solid #aaaaaa;
  display: inline-flex;
  align-items: center;
}
.services-info > div:last-child {
  border: 0;
}
.services-info h4 {
  font-weight: 500;
  color: steelblue;
}
.services-info p {
  color: #999999;
}
.work-day span {
  color: #e53556;
}
.discounts span {
  color: #ffcc33;
}
.questions span {
  color: #7cd0f5;
}

.icons-group {
  position: relative;
  width: 45px;
  height: 45px;
  background: #f4f4f4;
  border-radius: 50%;
  color: #336;
  margin-right: 10px;
}
.icons-group i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
.revers-icon {
  display: inline-block;
  transform: scaleX(-1);
}

/**============== bottom header =============*/
/**items link*/
.bottom-header {
  width: 100%;
  background: #f7f7f7;
  display: inline-block;
  padding: 10px 0;
}
.bottom-header .left-side {
  margin-top: 5px;
}
.bottom-header .left-side > li {
  position: relative;
  margin-right: 5px;
}
.first-lvl-link {
  display: block;
  padding: 10px 30px;
  font-size: 18px;
  color: #336;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.bottom-header .left-side > li:hover .first-lvl-link {
  color: #fff;
  background: #7cd0f5;
  border-radius: 30px;
}

/**dropdown*/
.dropdown {
  min-width: 200px;
  top: 100%;
  left: 0;
  background: #fff;
  color: #336;
  padding: 20px;
  line-height: 2;
}
.dropdown-list {
  opacity: 0;
  position: absolute;
  padding-top: 50px;
  visibility: hidden;
  transition: all 0.2s ease-in;
  display: flex;
}
.bottom-header .left-side li:hover .dropdown-list {
  visibility: visible;
  opacity: 1;
}
.dropdown h2 {
  font-size: 20px;
}

/** search */
.search-header {
  display: flex;
  padding: 5px 30px;
  background: #fff;
  border-radius: 50px;
  margin-right: 20px;
}
.search-header input[type='text'] {
  outline: 0;
  border: 0;
  width: 220px;
}
.search-header button {
  border: 0;
  background: #fff;
  cursor: pointer;
  padding-left: 30px;
}
.search-header button i {
  font-size: 20px;
}
/** Price */
.basket {
  display: flex;
  align-items: center;
}
.basket .icons-group {
  background: #fc3;
  color: #fff;
}
.basket__price {
  font-weight: bold;
}
.basket__price span {
  color: #999999;
  font-weight: normal;
}

/**============MAIN BLOCK===============*/
/**featured products*/
/** title  featured*/
.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #f4f4f4;
}
.title {
  font-size: 32px;
  color: #4c4b6c;
  font-weight: 500;
}
.view-all {
  font-size: 14px;
  color: #2b2b2b;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.view-all span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #4c4b6c;
  border-radius: 50%;
  margin-left: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.view-all i {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 6px 5px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(-45deg);
}
.view-all:hover {
  color: #7cd0f5;
}
.view-all:hover span {
  background-color: #7cd0f5;
}

/** List product of featured*/

.products-featured .product {
  max-width: 220px;
  overflow: hidden;
}
.product .product__stars,
.product .hidden-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-product {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}
.product img {
  width: 100%;
}
.product__body {
  font-family: roboto;
  font-size: 14px;
  margin: 20px 0 30px;
  position: relative;
}
.product__body > div {
  line-height: 1.5;
}
.product .product__title {
  font-family: roboto;
  font-weight: 400;
  color: #4c4b6c;
  text-transform: capitalize;
}

.product .stars {
  display: flex;
  color: gold;
}
.product .reviews {
  font-size: 12px;
  color: #888895;
  font-weight: 100;
  margin-right: 30px;
}
.product__price span {
  color: #4c4b6c;
  font-size: 18px;
  font-family: arial;
  font-weight: 600;
  margin-right: 20px;
}
.product__price del {
  color: #999;
}
.product .hidden-btns {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.product .hidden-btns a {
  display: block;
}
.product .hidden-btns li {
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}
.product .hidden-btns li {
  transition: 0.5s;
}
.product .hidden-btns li:first-child {
  transition: 0.3s;
}
.product .hidden-btns li:last-child {
  transition: 0.7s;
}
.product .icons-group {
  transition: 0.5s;
}
/***fetured hovers*/
.product:hover .product__stars {
  display: none;
}
.product:hover .hidden-btns li {
  visibility: visible;
  opacity: 1;
  transform: translateY(0%);
}
.product .icons-group:hover {
  background-color: #7cd0f5;
  color: #fff;
}

.small-banner img {
  width: 100%;
}
/**footer*/
.footer {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer a,
.footer__list {
  color: #999999;
}
.footer .premium-link {
  color: #2b2b2b;
}
.footer-img-logo {
  margin-bottom: 10px;
}
.footer .title-nav {
  position: relative;
  margin-top: 20px;
  padding: 20px 0;
  font-size: 24px;
  color: #333366;
  font-weight: 600;
}
.footer .title-nav:after {
  position: absolute;
  content: '';
  width: 40px;
  background: #f3f3f3;
  top: 90%;
  left: 0;
  height: 5px;
}
.footer__list {
  margin-top: 30px;
}
.contact span {
  line-height: 1.5;
}
.list-info__link {
  display: inline-block;
  padding: 10px 0;
  transition: 0.5s;
}
.list-info__link:hover {
  transform: translateX(20px);
}
.list-instagram {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.list-instagram li {
  width: 85px;
  height: 90px;
  margin: 5px;
}
.list-instagram img {
  width: 100%;
}
.middle-footer,
.bottom-footer {
  display: flex;
  justify-content: space-between;
}
.middle-footer {
  line-height: 70px;
  border-bottom: 1px solid #f3f3f3;
}
.middle-footer li,
.bottom-footer li {
  padding: 10px;
  font-size: 16px;
}
.social-list a {
  color: #000;
}
.social-list a:hover {
  color: #dd2a2a;
  transition: 0.5s;
}
.bottom-footer {
  padding: 30px 0;
}
.was-maked span {
  font-weight: bold;
  color: #336;
}

/** мобильная адаптация */
/** MAX-WIDTH: 1200px*/
@media (max-width: 1200px) {
  .list-product {
    /* flex-wrap: wrap; */
  }
  .product {
    width: 100%;
    margin: 0 5px;
  }
  .list-instagram {
    justify-content: start;
  }
  .services-info > div {
    padding: 0 20px;
  }
  .first-lvl-link {
    padding: 10px 15px;
  }
}
/** MAX-WIDTH: 1024px*/
@media (max-width: 1024px) {
  .middle-wrap {
    display: block;
  }
  .middle-wrap a {
    margin: 0 auto;
  }
  .middle-wrap .main-logo {
    display: block;
    margin: 0 auto;
  }
  .services-info h4 {
    font-size: large;
  }
  .services-info {
    justify-content: center;
    /* flex-direction: column; */
  }
  .services-info > div {
    border: 0;
    margin-bottom: 5px;
  }
  .bottom-header .right-side {
    flex-direction: column;
    justify-content: flex-end;
  }
  .bottom-header .search-header {
    margin: 0 0 10px auto;
  }
  .bottom-header .search-header input[type='text'] {
    width: 100px;
  }
  .bottom-header .basket {
    justify-content: flex-end;
  }
  .list-product {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .top-header ul li {
    padding: 3px 13px;
    margin: 5px 0;
    font-size: 14px;
  }
}
/** MAX-WIDTH: 789px*/
@media (max-width: 789px) {
  .top-header .left-side,
  .top-header .right-side {
    display: flex;
    flex-direction: column;
  }
  .top-header ul li {
    border: 0;
    padding-left: 0;
  }
}
@media(max-width: 768px){}
@media (min-width: 320px) {
  /* .bottom-header .left-side {
    display: none;
  } */
}
