/**================= BASE STYLE ===============*/
/** *(звездочка) - для выбора всех элементов сайта*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
/** container - для позицирования контента сайта 
**по середине 
**в определых рамках
*/
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
/** a - тег, задаем стили для всех ссылок*/
a {
  text-decoration: none;
}

/**================= TOP HEADER ==================*/
.top-header {
  background: #f7f7f7;
  display: inline-block;
  width: 100%;
  color: #4c4b6c;
}
.left-side,
.right-side {
  list-style: none;
  display: flex;
}
.left-side {
  float: left;
}
.right-side {
  float: right;
}
.top-header ul li {
  padding: 15px 10px;
}
.top-header a {
  color: #4c4b6c;
}
/**========== MIDDLE HEADER ==========*/
.middle-header {
  padding: 20px 0;
}
.main-logo {
  width: 200px;
  display: inline-block;
}
.middle-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 93%;
}
.services-info {
  display: flex;
}
.services-info div {
  padding: 0 40px;
  border-right: 1px solid #aaaaaa;
}
.services-info div:last-child {
  border: 0;
}
.services-info div > span {
  display: block;
}
.services-info div > span:first-child {
  font-weight: bold;
  color: steelblue;
}
.services-info div > span:last-child {
  color: #aaaaaa;
}
.work-day span span {
  color: rgb(206, 13, 13);
}
.discounts span span {
  color: gold;
}
.questions span span {
  color: skyblue;
}
